@charset "UTF-8";

body{ 
    background-color: silver;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
        
}

h1{
    color: darkolivegreen;
    background-color: rgba(155, 136, 136, 0.932);
        
}

h2{
    color: darkolivegreen;
}

p{
    text-align: justify;
}

